version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: oai-mysql
    environment:
      - MYSQL_ROOT_PASSWORD=linux
      - MYSQL_DATABASE=oai_db
      - MYSQL_USER=test
      - MYSQL_PASSWORD=test
    networks:
      - oai-public-net
  oai-amf:
    image: oaisoftwarealliance/oai-amf:v2.1.10
    container_name: oai-amf
    networks:
      - oai-public-net
  oai-smf:
    image: oaisoftwarealliance/oai-smf:v2.1.10
    container_name: oai-smf
    networks:
      - oai-public-net
  oai-upf:
    image: oaisoftwarealliance/oai-upf:v2.1.10
    container_name: oai-upf
    networks:
      - oai-public-net
      - oai-traffic-net

networks:
  oai-public-net:
    external: true
  oai-traffic-net:
    external: true
