version: '3.8'

services:
  mysql:
    container_name: "oai-mysql"
    image: mysql:8.0
    init: true
    volumes:
      - ./oai_db.sql:/docker-entrypoint-initdb.d/oai_db.sql
      - ./mysql-healthcheck.sh:/tmp/mysql-healthcheck.sh
    environment:
      - TZ=Europe/Paris
      - MYSQL_DATABASE=oai_db
      - MYSQL_USER=test
      - MYSQL_PASSWORD=test
      - MYSQL_ROOT_PASSWORD=linux
    healthcheck:
      test: /bin/bash -c "/tmp/mysql-healthcheck.sh"
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 30
    networks:
      oai-net:
        ipv4_address: 192.168.71.131

  oai-nrf:
    container_name: "oai-nrf"
    image: oaisoftwarealliance/oai-nrf:v2.1.10
    environment:
      - TZ=Europe/Paris
    volumes:
      - ./mini_nonrf_config.yaml:/openair-nrf/etc/config.yaml
    depends_on:
      - mysql
    networks:
      oai-net:
        ipv4_address: 192.168.71.135

  oai-udr:
    container_name: "oai-udr"
    image: oaisoftwarealliance/oai-udr:v2.1.10
    environment:
      - TZ=Europe/Paris
    volumes:
      - ./mini_nonrf_config.yaml:/openair-udr/etc/config.yaml
    depends_on:
      - mysql
      - oai-nrf
    networks:
      oai-net:
        ipv4_address: 192.168.71.136

  oai-udm:
    container_name: "oai-udm"
    image: oaisoftwarealliance/oai-udm:v2.1.10
    environment:
      - TZ=Europe/Paris
    volumes:
      - ./mini_nonrf_config.yaml:/openair-udm/etc/config.yaml
    depends_on:
      - oai-udr
    networks:
      oai-net:
        ipv4_address: 192.168.71.137

  oai-ausf:
    container_name: "oai-ausf"
    image: oaisoftwarealliance/oai-ausf:v2.1.10
    environment:
      - TZ=Europe/Paris
    volumes:
      - ./mini_nonrf_config.yaml:/openair-ausf/etc/config.yaml
    depends_on:
      - oai-udm
    networks:
      oai-net:
        ipv4_address: 192.168.71.138

  oai-amf:
    container_name: "oai-amf"
    image: oaisoftwarealliance/oai-amf:v2.1.10
    environment:
      - TZ=Europe/Paris
    volumes:
      - ./mini_nonrf_config.yaml:/openair-amf/etc/config.yaml
    depends_on:
      - mysql
      - oai-nrf
      - oai-ausf
    networks:
      oai-net:
        ipv4_address: 192.168.71.132

  oai-smf:
    container_name: "oai-smf"
    image: oaisoftwarealliance/oai-smf:v2.1.10
    environment:
      - TZ=Europe/Paris
    volumes:
      - ./mini_nonrf_config.yaml:/openair-smf/etc/config.yaml
    depends_on:
      - oai-amf
    networks:
      oai-net:
        ipv4_address: 192.168.71.133

  oai-upf:
    container_name: "oai-upf"
    image: oaisoftwarealliance/oai-upf:v2.1.10
    init: true
    environment:
      - TZ=Europe/Paris
    volumes:
      - ./mini_nonrf_config.yaml:/openair-upf/etc/config.yaml
    depends_on:
      - oai-smf
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    cap_drop:
      - ALL
    privileged: true
    networks:
      oai-net:
        ipv4_address: 192.168.71.134
      traffic-net:
        ipv4_address: 192.168.72.134

  oai-ext-dn:
    privileged: true
    container_name: oai-ext-dn
    image: oaisoftwarealliance/trf-gen-cn5g:focal
    init: true
    entrypoint: /bin/bash -c \
          "iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE;"\
          "ip route add 12.1.1.0/24 via 192.168.72.134 dev eth0; sleep infinity"
    depends_on:
      - oai-upf
    networks:
      traffic-net:
        ipv4_address: 192.168.72.135
    healthcheck:
      test: /bin/bash -c "ping -c 2 192.168.72.134"
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  oai-net:
    driver: bridge
    name: oai-public-net
    ipam:
      config:
        - subnet: 192.168.71.128/26
    driver_opts:
      com.docker.network.bridge.name: "oai-public"
  traffic-net:
    driver: bridge
    name: oai-traffic-net
    ipam:
      config:
        - subnet: 192.168.72.128/26
    driver_opts:
      com.docker.network.bridge.name: "oai-traffic"
