version: '3.8'

services:
  oai-gnb:
    image: oaisoftwarealliance/oai-gnb:develop
    container_name: oai-gnb
    cap_add:
      - SYS_NICE
    cap_drop:
      - ALL
    environment:
      USE_ADDITIONAL_OPTIONS: -E --rfsim --log_config.global_log_options level,nocolor,time
      ASAN_OPTIONS: detect_leaks=0
    networks:
      oai-net:
        ipv4_address: 192.168.71.140
    volumes:
      - ./configs/gnb.sa.band78.106prb.rfsim.yaml:/opt/oai-gnb/etc/gnb.yaml
    healthcheck:
      test: /bin/bash -c "pgrep nr-softmodem"
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  oai-net:
    external: true
    name: oai-public-net
