version: '3.8'

services:
  oai-nr-ue:
    image: oaisoftwarealliance/oai-nr-ue:develop
    container_name: oai-nr-ue
    cap_drop:
      - ALL
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_NICE
    environment:
      USE_ADDITIONAL_OPTIONS: -E --rfsim -r 106 --numerology 1 --uicc0.imsi 208990100001100 -C 3319680000 --rfsimulator.serveraddr 192.168.71.140 --log_config.global_log_options level,nocolor,time
    networks:
      - oai-public-net
      oai-traffic-net:
    devices:
       - /dev/net/tun:/dev/net/tun
    volumes:
      - ./configs/nrue.uicc.yaml:/opt/oai-nr-ue/etc/nr-ue.yaml
    healthcheck:
      test: /bin/bash -c "pgrep nr-uesoftmodem"
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  oai-public-net:
    name: oai-public-net
